// VARIABLES
$white: #FFF;
$gris100: #DEDEDE;
$gris200: #CCC;
$gris300: #999;
$gris400: #666;
$gris600: #444;
$gris700: #222;
$black: #000;
$color-primario: #FF7B00;
$color-primario-dark: darken($color-primario, 10);